/vim/autoload
/vim/plugged
/vim/undo/*
/vim/swap/*
!.gitkeep
*.swp
.netrwhist

bundle/cache

# zsh
zsh/.zcompdump*
zsh/.zsh_sessions/

# direnv
direnv/allow/*

# npm
/configstore/update-notifier-npm.json

# tmux
/tmux/plugins/

# git
/git/local/*
!/git/local/config.example

# iTerm
/iterm2

# gh
/gh

# irb
/irb/irb_history
