/vim/autoload
/vim/plugged
/vim/undo/*
/vim/swap/*
!.gitkeep
*.swp
.netrwhist

composer/auth.json
composer/cache
composer/composer.lock
composer/keys.dev.pub
composer/keys.tags.pub
composer/vendor
composer/.htaccess
