/vim/autoload
/vim/plugged
/vim/undo/*
/vim/swap/*
!.gitkeep
*.swp
.netrwhist

composer/auth.json
composer/cache
composer/composer.lock
composer/keys.dev.pub
composer/keys.tags.pub
composer/vendor
composer/.htaccess

bundle/cache

# zsh
zsh/.zcompdump*
zsh/.zsh_sessions/

# direnv
direnv/allow/*

# npm
/configstore/update-notifier-npm.json

# tmux
/tmux/plugins/
